<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafeEntry</title>
</head>
<body>
    <table border = "1px", width = "100%">
        <tr>
            <th>Check-In</th>
            <th>Check-Out</th>
            <th>View Entries</th>
            <th>All Records</th>
        </tr>

    </table>
    <h1>
        SafeEntry Check Out
    </h1>
    <form method = "POST">
        <input type = submit value = "Check-Out">
    </form>

</body>
</html>