<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafeEntry</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" >
</head>
<body>
    <h1 style="text-align:center;">
        SafeEntry
    </h1>
    <p style="text-align:center;">You are visiting</p>
    <h2 style="text-align:center;">{{locationname}}</h2>
    <h3 style="text-align:center;">Seat: {{seatno}}</h3>
    <form method = "POST" style = "text-align:center;">
        <p>MatricNo: <input type = "text", name = "matricno", placeholder = "Matric No."></p>
        <p><input type = "submit", value = "Enter"></p>

    </form>
</body>
</html>